@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

img[class="logo"]{
	 border-radius: 100px 100px 100px 100px;
	 padding: 0px 0px 0px 0%;
	 margin: 0% 10%;
}
.create-line {
  height: 100%;
  border-left: 2px solid #99958C;
  margin: 0px 5%;
}
.plan{
	padding: 0px 0px 0px 1%;
	max-width: 100%;
}
.time1{
	padding: 0px 1% 0px 1%;
	margin: 0px 1%;
	background-color: #DBD7D2;

}
.silki{
	padding: 0px 10% 0px 0%;
}
.logodiv{
	padding: 1% 0% 0px 0%;
}
.informatics{
	align: center;
	padding: 0% 0% 0px 0%;
}
.texti{
	color: #FFFFFF;
	padding: 5% 6% 5% 6%;
	border-radius: 100px 0px 100px 0px;
	margin: 0px 5%;
	background-color: #1e5aa8;
}
a { 
    text-decoration: none;
   } 
b:hover {
    color: #1e5aa8;
	text-decoration: underline
}
.t1{
	margin: 10% 10%;
}
.conteiner{
}
body{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px;
}

@media (min-width: 321px) and (max-width: 335px) {

.plan2{
	padding: 0px 0px 0px 1%;
	max-width: 100%;
}
td[class="plan"]{
	display: none;
}
td[class="none"]{
	display: none;
}
.texti{
	color: #FFFFFF;
	padding: 5% 8% 5% 8%;
	border-radius: 100px 0px 100px 0px;
	margin: 0% 5%;
	background-color: #1e5aa8;
	font-size: 25px;
}
td[class="texti1"]{
	width: 100%;
	height: 100px;
}
td[class="url"]{
	width: 100%;
}
td[class="silkinone"]{
	display: none;
}
font[class="texti"]{
	width: 100%;
	top: 0;
}
img[class="logo"]{
	align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5%;
	margin-top: 3%;
}
.create-line2 {
  height: 100%;
  border-left: 2px solid #99958C;
  margin: 0px 5%;
}
.silki2{
	padding: 0% 0px 3% 0px;
}
}

@media (min-width: 336px) and (max-width: 480px) {

.plan2{
	padding: 0px 0px 0px 1%;
	max-width: 100%;
}
td[class="plan"]{
	display: none;
}
td[class="none"]{
	display: none;
}
.texti{
	color: #FFFFFF;
	padding: 5% 6% 5% 6%;
	border-radius: 100px 0px 100px 0px;
	margin: 0px 5%;
	background-color: #1e5aa8;
	font-size: 27px;
}
td[class="texti1"]{
	width: 100%;
	height: 100px;
}
td[class="url"]{
	width: 100%;
}
td[class="silkinone"]{
	display: none;
}
font[class="texti"]{
	width: 100%;
	top: 0;
}
img[class="logo"]{
	align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5%;
	margin-top: 3%;
}
.create-line2 {
  height: 100%;
  border-left: 2px solid #99958C;
  margin: 0px 5%;
}
.silki2{
	padding: 0% 0px 3% 0px;
}
}

@media (min-width: 481px) and (max-width: 2000px) {
	font[class="url"]{
		display: none;
	}
	.texti{
	color: #FFFFFF;
	padding: 5% 6% 5% 6%;
	border-radius: 100px 0px 100px 0px;
	margin: 0px 5%;
	background-color: #1e5aa8;	
}
.silki2{
	display:none;
}
}

@media (min-width: 993px) and (max-width: 1600px) {
.conteiner{
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
}

@media (min-width: 1601px) and (max-width: 2000px) {
.conteiner{
	width: 1680px;
	margin-left: auto;
	margin-right: auto;
}
.plan2{
	padding: 0px 0px 0px 1%;
	max-width: 100%;
}
.texti{
	color: #FFFFFF;
	padding: 5% 6% 5% 6%;
	border-radius: 100px 0px 100px 0px;
	margin: 0px 5%;
	background-color: #1e5aa8;
	font-size: 27px;
}
td[class="texti1"]{
	width: 100%;
	height: 100px;
}
td[class="url"]{
	width: 100%;
}
font[class="texti"]{
	width: 100%;
	top: 0;
	font-size: 75px;
}
img[class="logo"]{
	align: center;
	display: block;
	width: 130px;
}
.create-line2 {
  height: 100%;
  border-left: 2px solid #99958C;
  margin: 0px 5%;
}
.silki2{
	padding: 0% 0px 3% 0px;
}
font[class="111"]{
	font-size: 30px;
}
b[class="222"]{
	font-size: 30px;
}
img.url{
	width: 50px;
}
}